%section#abstract
  %p
    <em>MSc geoinformatics</em> student at the University of M端nster writing his thesis about <em>citizen participation</em>, <em>open government data</em> and <em>supporting dialogues with spatial references</em>.


%section#education
  %h3
    %i.fa.fa-book
    Education

  %table
    %tr
      %td.period 10/2012 - present
      %td.school
        University of M端nster
        %aside.school-details
          Master of Science Geoinformatics
    %tr
      %td.period 10/2009 - 09/2012
      %td.school
        University of M端nster
        %aside.school-details
          Bachelor of Science Geoinformatik &#8709; 2.2
          %br
          Thesis (1.1):
          = link_to '&raquo;Arm gesture interaction with virtual globes: Implementation and evaluation&laquo;', 'geraldpape_bsc_thesis.pdf', relative: true, target: '_blank', title: 'in German, original title: Interaktion mit virtuellen Globen mittels Armgesten: Implementierung und Evaluierung'.html_safe
          implemented using <em>Kinect</em> and <em>NASA World Wind</em>. More information at
          = link_to 'http://www.dreieck-der-nachhaltigkeit.de/', 'http://www.dreieck-der-nachhaltigkeit.de/', target: '_blank'
          and
          = link_to 'https://github.com/ubergesundheit/triangle-of-sustainability/', 'https://github.com/ubergesundheit/triangle-of-sustainability/', target: '_blank'

%section#experience
  %h3
    %i.fa.fa-clock-o
    Work experiences

  %table
    %tr
      %td.company
        Internship at Zweitag GmbH
        %small.company-details Ruby on Rails Consultancy
        %aside.period 10/2013 - 02/2014
      %td.employment
        Full stack development, infrastructure management
        %aside.employment-details
          Full time internship of five months at Zweitag GmbH where I developed with technologies like <em>Ruby on Rails</em>, <em>Elasticsearch</em>, <em>Haml</em>, <em>Coffeescript</em> and <em>Angular.js</em>. Additionally, I aquired skills in using infrastructure tools like <em>Chef</em>, <em>Capistrano</em> and <em>Nagios</em>.

    %tr
      %td.company
        Institute for Geoinformatics
        %small.company-details University of M端nster
        %aside.period 06/2011 - 08/2013
      %td.employment
        Student worker: ifgi webteam
        %aside.employment-details Administrative tasks for members of the institute. Maintenance of the institute homepage, WWU Campus app, multiple <em>WordPress</em> sites and virtual servers using <em>PHP</em> and <em>VMware</em>. Management and maintenace of multiple servers of the institute with both <em>Windows Server</em> and <em>Linux</em>.


%section#voluntary-experience
  %h3
    %i.fa.fa-users
    Voluntary experience

  %table
    %tr
      %td.organisation
        &raquo;geofs&laquo;
        %small.company-details students representatives geoinformatics
      %td.activity
        Chairman and technical supervisor
        %aside.activity-details Member of the students representatives from 2010. Chairman during 2013. Management of multiple services like <em>Dokuwiki</em>, <em>Etherpad</em> and <em>ownCloud</em>.
    %tr
      %td.organisation Open Source
      %td.activity
        Leaflet plugin #{link_to 'Leaflet.EdgeMarker', 'https://github.com/ubergesundheit/Leaflet.EdgeMarker'} &amp; occasional contributor.
        %aside.activity-details See #{link_to 'http://github.com/ubergesundheit', 'http://github.com/ubergesundheit'}.


%section#interests
  %h3
    %i.fa.fa-flask
    Skills &amp; Interests

  %ul
    %li Ruby on Rails
    %li PostgreSQL &amp; PostGIS
    %li GIS
    %li NodeJS
    %li Javascript &amp; Coffeescript
    %li Android development
    %li Linux
    %li Map visualizations
    %li Geospatial data &amp; Geospatial databases
    %li Open Source


%section#achievements
  %h3
    %i.fa.fa-asterisk
    Achievements

  %ul
    %li
      Co-Author of a conference poster at <em>AGILE 2013</em> for developing a solution for <em>REST</em>ful parcel tracking using <em>Arduino</em> and <em title="Linux Apache PostgreSQL/PostGIS PHP Stack">LAPP</em>.
      %br
      #{link_to 'Poster', 'potwech_poster.png', relative: true, target: '_blank'}, #{link_to 'Abstract', 'http://agile-online.org/Conference_Paper/CDs/agile_2013/Posters/P_Br%C3%B6ring.pdf', target: '_blank'}, #{link_to 'Video', 'http://www.youtube.com/watch?v=_RZ6Ef7aXsY', target: '_blank'}
    %li
      One of the developers of the <em>Android</em> app for <em>enviroCar</em> which interfaces with <em>OBDII</em> through a <em>Bluetooth</em> adaptor to monitor engine metrics.
      %br
      =link_to 'envirocar.org', 'https://envirocar.org/', target: '_blank'
      ,
      =link_to 'Play store link', 'https://play.google.com/store/apps/details?id=org.envirocar.app', target: '_blank'
    %li
      Building of a wifi controlled toy tank using <em>Arduino</em> and <em>Android</em> together with #{link_to 'Dennis Wilhelm', 'https://github.com/dwilhelm89', target: '_blank'}.
      %br
      =link_to 'Video', 'http://www.youtube.com/watch?v=gvYZXaMMdc4', target: '_blank'
      ,
      =link_to 'Code', 'https://code.google.com/p/ifgi-tank/'
    %li
      Implementation and evaluation of interaction techniques with bicycles and devices using <em>Arduino</em> and <em>Android</em> in &raquo;CyclOP - Open Platform for Augmentation of Bicycles with Sensors&laquo; (Studyproject at ifgi)

%section#references
  %h3
    %i.fa.fa-comments
    References

  %dl
    %dt Prof. Christian Kray (#{link_to 'http://christian-kray.de/', 'http://christian-kray.de/', target: '_blank'})
    %dd supervised my bachelor thesis, lecturer in multiple courses and projects and is currently supervising my masters thesis.
  %dl
    %dt Thomas Bartoschek (#{link_to 'http://ifgi.uni-muenster.de/~bartosct/', 'http://ifgi.uni-muenster.de/~bartosct/'})
    %dd supervised my bachelor thesis and builder of the &raquo;Dreieck der Nachhaltigkeit&laquo;.

